body {
    padding-bottom: 20px;
    font-size:      20px;
}

.body-content {
    padding-left:  15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}

